@font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/1/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
  @font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/avenir-lt-std/2/AvenirNext-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  